:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --gray: #8898aa;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #5e72e4;
    --primary-hover: #445ad6;
    --secondary: #f4f5f7;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #adb5bd;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
    --neutral: #fff;
    --darker: #000;
    --border-color: rgba(0, 0, 0, .1);

    --xsmall: 14px;
    --small: 16px;
    --medium: 18px;
    --large: 20px;
    --xlarge: 22px;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1250px;
  }
  
  
  :root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
  
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
  
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
  
    --section-gap: 160px;
  }
  

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

img {
    width: 100%;

}

ul {
    list-style-type: none;
}

.app {
    padding: 20px;
}

/* FONT */

.text-s {
    font-size: var(--small);
}

.text-m {
    font-size: var(--medium);
}

.text-l {
    font-size: var(--large);
}

.text-xl {
    font-size: var(--xlarge);
}

/* NAVIGATION */

.navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

.router-link {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: .625rem 1.25rem;
    font-size: 15px;
    line-height: 1.5;
    border-radius: .25rem;
    color: var(--primary);
    background-color: var(--white);
    border-color: var(--primary);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 175px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.router-link:hover {
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    cursor: pointer;
}

.router-link-exact-active {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    width: 175px;
}


/* DIALOG */
.dialog {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
}
  
.dialog__content {
    margin: auto;
    background: white;
    border-radius: 12px;
    min-height: 50px;
    min-width: 300px;
    padding: 35px 75px;
}

.close-dialog-container {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

/* INPUTS */

input::placeholder {
    color: var(--gray);
}

label {
    color: #344767;
    font-size: .75rem;
    font-weight: 700;
}

.input {
    width: 100%;
    border: 1px solid #00000030;
    padding: 10px 15px;
    border-radius: 0.25rem;
}

.input-header-container {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
}

.input-header {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
}
.input-subheader {
    margin-top: 15px;
}


.input-container {
    margin-bottom: 15px;
}

.input-header {
    font-size: 20px;
    font-weight: 700;
}

.input-subheader {
    color: var(--gray);
    font-weight: 100;
    padding-top: 5px;
}

/* CONTAINER STYLES */

.filterSearchAddBar,
.list-container {
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
}

.list-container {
    margin-bottom: 25px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.filterSearchAddBar {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    gap: 35px;
    margin: 25px 0;
}

/* LISTS */
.list-item-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr;
    border-top: 1px solid var(--border-color);
    gap: 15px;
    padding: 15px;
}

.success-alert-container {
    width: 100%;
    border: 1px solid #00000030;
    padding: 10px 15px;
    border-radius: 0.25rem;
    background-color: #eff7ef;
    margin-bottom: 15px;
}

.list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* STYLED ELEMENTS */

.green-dot, 
.red-dot {
    font-size: 12px;
}

/* FORM */

.form {
    min-width: 500px;
    padding: 15px;
}

/* SELECT */

select {
    border: 1px solid #00000030;
    padding: 10px 15px;
    border-radius: 0.25rem;
}

select > option {
    padding-top: 25px;
    padding-bottom: 25px;
}


/* BUTTONS */
button:hover {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: .625rem 1.25rem;
    font-size: 15px;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.btn:hover {
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

.btn-width {
    width: 175px;
} 

.btn-submit {
    margin-top: 25px;
}


/* LAYOUT */
.main {
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: 15px;
    padding: 25px;
}

.header-container{
    height: 100%;
    padding: 15px;
    border: solid 1px rgba(91, 91, 167, 0.199);
    border-radius: 12px;
    box-shadow: -4px -5px 10px 5px rgb(80 80 202 / 11%), 0 1px 3px rgba(0, 0, 0, .08);
}

.body-container {
    padding: 15px;
    border: solid 1px rgba(91, 91, 167, 0.199);
    border-radius: 12px;
    box-shadow: -4px -5px 10px 5px rgb(80 80 202 / 11%), 0 1px 3px rgba(0, 0, 0, .08);
}

.page-header {
    padding: 25px;
}

/* BREAKPOINTS  */
@media (max-width: 575px) {
    .main {
        grid-template-columns: 1fr;
    }
    
    .filterSearchAddBar {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    form {
        min-width: 300px;
    }

    .header-container {
        height: auto;
    }

    .navigation {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0;
        gap: 5px;
    }

    .router-link {
        font-size: var(--xsmall);
        width: 100%;
        margin: 0;
    }

    .btn {
        font-size: var(--xsmall);
    }

    .btn-width {
        width: 100%;
    }

    
    .list-item-container {
        grid-template-columns: 1fr 2fr 2fr;
        font-size: var(--xsmall);
    }

    .dialog__content {
        min-height: none;
        min-height: none;
        padding: 25px 25px
    }
}

/* Apply styles for screens between the SM and MD breakpoints */
@media (min-width: 576px) and (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
    }

    .navigation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        gap: 5px;
    }

    .header-container {
        height: auto;
    }

    .router-link {
        font-size: var(--xsmall);
        width: 100%;
        margin: 0;
    }

    .btn {
        font-size: var(--xsmall);
    }

    .filterSearchAddBar {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .list-item-container {
        grid-template-columns: 1fr 2fr 1fr 1fr;
        font-size: var(--xsmall);
    }

    .list-item-container > :nth-child(2),
    .list-item-container > :nth-child(3),
    .list-item-container > :nth-child(4),
    .list-item-container > :nth-child(6) {
        display: none;
    }
}

/* Apply styles for screens between the SM and MD breakpoints */
@media (min-width: 768px) and (max-width: 992px) {
    .main {
        grid-template-columns: 1fr;
    }

    .navigation {
        flex-direction: row;
        margin-top: 0;
        gap: 15px;
    }

    .header-container {
        height: auto;
    }

    .router-link {
        font-size: var(--xsmall);
        width: 150px;
    }

    .btn {
        font-size: var(--xsmall);
    }

    .list-item-container {
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        font-size: var(--xsmall);
    }

    .list-item-container > :nth-child(3),
    .list-item-container > :nth-child(4),
    .list-item-container > :nth-child(6) {
        display: none;
    }

}

/* Apply styles for screens larger than or equal to the LG breakpoint */
@media (min-width: 992px) and (max-width: 1250px) {
    .list-item-container {
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr 1fr;
        font-size: var(--xsmall);
    }
    .list-item-container > :nth-child(3) {
        display: none;
    }

    .btn-width {
        width: 140px;
        font-size: var(--xsmall);
    }

}

/* Apply styles for screens larger than or equal to the LG breakpoint */
@media (min-width: 1250px) {
    .page-wrapper {
        display: flex;
        justify-content: center;
        width: 100%
    }

    .main {
        max-width: 1400px;
    }
}

